<% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Create a new listing</h3>

            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy tittle" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Title looks good
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Discription</label>
                    <textarea name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please enter short description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a valid price
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter your country
                        </div>
                    </div>
                </div>

                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Maharashtra, Malshej Ghat"
                        class="form-control" required>
                    <div class="invalid-feedback">
                        Please enter your location
                    </div>
                </div>

                <button class="btn btn-dark add-btn mb-3">Add place</button>

            </form>
        </div>
    </div>